section{
    margin: 7% auto;
    width: 80%;
}   

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: #ffffff;
    padding: 5%;
    width: 90%;
    margin: 2% auto;
}

.products{
    width: 25%;
    background-color: #ffffff;
    padding: 2%;
    position: relative;
    z-index: 1;
    margin: 2%;
}

.products:hover{
    border: 2px solid #b84b0cb2;
    margin: 2%;
}

.selo{
    margin: 0%;
    width: 50%;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
}

picture{
    width: 100%;
}

img{
    width: 100%;
    margin: 0%;
}

figcaption{
    text-align: center;
    width: 100%;
    background-color: #b84b0cb2;
    color: #ffffff;
    display: none;
    margin: 0%;
    padding: 3% 0%;
    position: absolute;
    bottom: 45%;
    left: 0%;
    z-index: 2;
}

.products:hover figcaption{
    display: block;
}

h1{
    color: #ffffff;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-size: 5rem;
    text-align: center;
    margin: 4% 0%;
}

button{
    background-color: #b84b0c;
    color: #ffffff;
    padding: 4%;
    border: none;
    border-radius: 10%;
    position: absolute;
    bottom: 20%;
    left: 33%;
    z-index: 3;
}

a{
    color: #ffffff;
    text-decoration: none;
}

button:hover{
    background-color: #ffffff;
    border: 2px solid #b84b0c;
}

button:hover a{
    color: #b84b0c;
}